.homePagebg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #1F2A63 0%, #17002F 100%);
  }
  .homePage{
    width: 100%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }