@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
#root {
  width: 100%;
  margin: 0 auto;
  font-family: 'Karla';
  font-weight: 400;
}
h1 {
  color: #fff;
  font-size: 72px;
}
h2 {
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  gap: 2em;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
}
.outletContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

